<div class="page-header">
	<h1>Pesquisa de Pessoas</h1>
</div>

<div class="row">

	<div class="col-md-3">
			sfds
	</div>


	<div class="col-md-9">
		 <uib-tabset justified="true">
    <uib-tab heading="Dados Gerais">
    		<ng-include src="'view/dados-pessoais.html'" />
     </uib-tab>
     <uib-tab heading="Senha">
			 
			<ng-include src="'view/alterar-senha.html'" />

     </uib-tab>
    <uib-tab heading="E-mails">E-mails</uib-tab>
    <uib-tab heading="Contato">Long Labeled Justified content</uib-tab>
    <uib-tab heading="Documentos">Long Labeled Justified content</uib-tab>
    <uib-tab heading="Endereço">Long Labeled Justified content</uib-tab>
  </uib-tabset>
	</div>

</div>