.main {
	margin-right: auto;
	margin-left:  auto;
	float: none;

}


.avatar img, .avatar .avatar-empty {
    display: inline-block;
    overflow: hidden;
    float: left;
    vertical-align: middle;
    border-radius: 3px;
    margin-right: 5px;
  
    background-color: #555;
    color: white;
    font-weight: bold;
   
    text-align: center;

}

 .pequena img, .avatar-empty.pequena {
    width: 48px; 
    height: 48px;
    line-height: 48px;
    font-size: 18px;

}

 .grande img, .avatar-empty.grande {
    width: 100%; 
    height: 230px;
    line-height: 230px;
    font-size: 40px;

}



.field-required::after {
    color: red;
    font-weight: bold;
    content: '*';
}

input[type="checkbox"] {
    height: 18px;
    width: 18px;
    cursor: pointer;


}

.input-autocomplete::after {
    content: 'Nome da porra local'
}

.input-autocomplete{
    display: inline-block;
}



